* {
  --color-white: #ffffff;
  --color-black: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font:"Poppins",sans-serif;
}
.header{
   padding: 46px 100px;   
    display: flex;
    flex-direction: column;
    gap:56px;
}
/* header part one  */
.head1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    width: 100%;
    gap: 65px;

}
.menus {
    display: flex;
    gap: 65px;

}
.nav-item a {
      font-family: var(--font);
      font-size: 22px;
      line-height: auto;
      font-weight: 500;
      color: #242323;
      text-decoration: none;

}
.nav-item a:hover {
  text-decoration: underline;
  width: 103px;
  height: 32px;
}

.nav-btn{
  padding: 7px 13px;
   transition: 0.2s ease;   
    background-color: #000000;
    color: white;
    border-radius: 7px;
}
.nav-btn a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  height: 62px;
  width: 134px;
}
.nav-btn a:hover {
  text-decoration: underline;
}
/* end of header one */
/* header part two start */
.head2{
    display: flex;
    justify-content: space-between;
    background-color: #F4F6F5;
    border-radius: 59px;
    width: 100%;
    height: 852px;
    overflow: hidden;
    

}
.head2-sec1
{ 
    padding-left: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.btn2{
  transition: 0.2s ease;   
  background-color: hsl(0, 0%, 0%);
  color: white;
  padding: 18px;
  border-radius: 10px;

}
.btn2 a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 30px;
  width: max-content;

}
.btn2 a:hover {
  text-decoration: none;
}
.box3{
    font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 500px;
    height: 120px;
    background: #ebd96b;
    z-index: -1;
    transform: rotate(-2deg);

}
}
.box1{
      font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 500px;
    height: 120px;
    background: white;
    z-index: -1;
    transform: rotate(-2deg);
  }

}
.largetext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     font-family: var(--font);
     font-size: 96px;
     font-weight: 700;
     line-height: 120px;
     color: #000000;

}
.box5{
    font-family: var(--font);
    font-size:32px ;
    font-weight:400 ;
    line-height:auto ;
    color: #191818;

}
.head2-sec2 {
    width: 871px;
    height: 784px;
    
}
/* end of header part2 */
/* header part 3 start */

 .logo2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EBD96B;
    height:186px ;
    padding: 63px;

 }
/* end of header part3 */
/*START OF NEW ARRIVALS SECTION  */
.Newarrivals{
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
      justify-content: space-evenly;
      margin-top: 40px;
      margin-left: 40px;
      width:100%;
      padding : 104px;
      justify-content: center;
      align-items: flex-start;
    /* height: 967px; */
    /* padding : 104px;
    margin-top: 69px; */
}
.newarrivals-text{
    font-family: var(--font);
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    line-height: 50px;
    height:41px;
    width: 404px;
    margin-bottom: 80px;
    margin-left: 104px;
}
.newarrivals-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 808px;
    gap: 90px;
}
.new-img{
    width: 490px;
    height: 805px;
}
#img-id{
  width: 490px;
  height: 704px;
  border-radius: 20px;

}
#new-p1{
    font-weight: medium;
   font-size: 32px;
  font-family: var(--font);
  color: #191919;   
}
.newarrivals-wrapper a{
      text-decoration: none;

}
#new-p2{
    height: 76px;
    font-size: 24px;
    font-family: var(--font);
    font-weight: medium;
    color: #7F7F7F;
}
/* paydaysection */
.paydaysection{
         display: flex;
        width: 100%;
        /* height: 968px; */
 
}
.payday-img {
        width: 100%;
      }

.payday-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
.payday-text {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 130px 200px 155px 68px;
        background: linear-gradient(
          1.32deg,
          #e0c340 0.13%,
          #dfc23e 3.97%,
          #e1c441 7.2%,
          #e3c743 10.13%,
          #e4c542 12.98%,
          #e6c744 15.99%,
          #e7c845 19.52%,
          #e5c643 23.96%,
          #e6c945 30.43%,
          #e3c743 36.49%,
          #e9ca48 42.49%,
          #edce49 49.35%,
          #f0d44c 55.42%,
          #f4d84f 61.43%,
          #f6da52 65.74%,
          #f7db53 72.23%,
          #f9dd55 77.43%,
          #f9df56 83.84%,
          #fae157 91.52%,
          #f9df56 97.87%
        );
      }
      .boldTextContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .textBoldLargeTilted {
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          width: 500px;
          height: 120px;
          background: white;
          z-index: -1;
          transform: rotate(-2deg);
        }
      }

      .textBoldLarge {
        font-size: 96px;
        line-height: 120px;
        font-weight: 900;
        position: relative;
        color: black;
        padding-left: 24px;
      }

      .textRegularSmall {
        font-family: "Poppins", sans-serif;
        font-size: 36.04px;
        line-height: 53.2px;
        color: #231300;
      }
      .textBoldSmall {
        font-family: "Poppins", sans-serif;
        font-size: 36.04px;
        font-family: 400px;
        line-height: 53.2px;
        font-weight: bold;
        color: #000000;
      }
      .primaryBtn {
        text-decoration: none;
        color: white;
        font-size: 30px;
        width: max-content;
        background-color: #000000;
        padding: 18px;
        border-radius: 10px;
      }
      /* young section */
.youngSection{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 847px;
  width: 100%;
}
.youngText{
  font-family: var(--font);
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  color: #000000;
  height: 50px;
  width: max-content;
  margin-left: 100px;
}
.youngImgContainer{
  display: flex;
  justify-content: space-evenly;
  height: 680px;
  gap:47px;
}
.youngImg{
  width: 835px;
  height: 679px;

}
.youngImgOne{
  height: 575px;
  border-radius: 20px;

}
#text1{
  font-family: var(--font);
  font-size: 32px;
  line-height: 50px;
  color: #000000;font-weight: medium;
}
#text2{
  font-family: var(--font);
  font-size: 24px;
  font-weight: medium;
  line-height: 50px;
  color: #7F7F7F;
}
/* VOUCHER SECTION */
/* .vouchersection{
  display: flex;

} */