* {
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;

}
.header {
  padding: 46px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:1718.26px;
  height:62px ;
}
ul {
  display: flex;
  gap: 65px;
  align-items: center;
  font-size: 22px;
}
li {
  list-style-type: none;
}
.nav-button {
  padding: 7px 13px;
  transition: 0.2s ease;
  /* color:white; */
  color: var(--color-white);
  background-color: black;
  border-radius: 7px;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  font-weight: 500;
  /* color:black; */
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}
.nav-item a:hover {
  text-decoration: underline;
  width: 103px;
  height: 32px;
}
.nav-button a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  height: 62px;
  width: 134px;
}
.nav-button a:hover {
  text-decoration: underline;
}
.section-2{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    padding: 46px 100px;
    /* background-color:#F4F5F6; */
    background-color: plum;
    border-radius: 59px;
    margin-left: 40px;
    margin-right: 40px;

}
.sec2-1{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}
.sec-main{
  display: flex;
  flex-direction: column;
  font-family: "Poppins",sans-serif;
  overflow: hidden;
}

.child3{
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after{
    content:'';
    position: absolute;
    inset: 0;
    width:500px;
    height: 120px;
    background: #EBD96B;
    z-index: -1;
    transform: rotate(-2deg);
}
}
.child1,
.dd1{
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after{
    content:'';
    position: absolute;
    inset: 0;
    width:500px;
    height: 120px;
    background:white;
    z-index: -1;
    transform: rotate(-2deg);
}
}
.child2,
.dd2{
    font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
}
.child4{
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
}
.ch1{
  font-size: 32px;
  line-height: auto;
  color: black;

}
.ch2 a{
  text-decoration: none;
  color: var(--color-white);
  font-size: 30px;
  height: 82px;
  width: 221px;
  background-color: #000000;
  padding: 18px;
  border-radius: 10px;
}
.sec2-2{
  display: flex;
  width: 871px;
  height: 784px;
  left: 868px;
  top: 232px;
  opacity: 100%;
} 
.section-3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 186px;
  background-color: #EBD96B;
  margin-top: 40px;

}
.main2{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 margin-top: 40px;
 margin-left: 40px;
 margin-left: 40px;
}
.m1{
  font-family: "Poppins,sans-seref";
  font-size: 48px;
  width: 404px;
  height: 41px;
  color: black;
  line-height: 50px;
  margin-bottom: 80px;
}
.m2{
  display: flex;
  justify-items: space-between;
  width: 1638px;
  height: 808px;
  gap: 90px;
}
.m1-1,
.m1-2,
.m-3{
width:490px;
height:805px;
}
#mm,
#mm1,
#mm2{
width:490px;
height:704px;
border-radius: 20px;
}
#p1
{
  font-size: 32px;
  font-family: "Poppins",sans-serif;
}
.m2 a{
  text-decoration: none;
}
.main3{
  margin-top: 190px;
  width: 1924px;
  height: 968px;
  display: flex;
  justify-content: space-evenly;
}
.dv1{
  width: 991.42px;
}
.dv2{
  display:flex ;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 666.39px;
  height: 684.76px;
}
.dd3,
.dd5{
  font-family: "Poppins",sans-serif;
  font-size: 36.04px;
  line-height: 53.2px;
  color: #231300;
}
.dd4{
  font-family: "Poppins",sans-serif;
  font-size: 36.04px;
  font-family: 400px;
  line-height: 53.2px;
  color: #000000;

}
.d4 a{
  text-decoration: none;
  color: var(--color-white);
  font-size: 30px;
  height: 82px;
  width: 221px;
  background-color: #000000;
  padding: 18px;
  border-radius: 10px;
}
.dv2-1{
  display: flex;
  flex-direction: column;
 align-items:flex-start;
 gap:40.69px;
}