* {
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 46px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  gap: 65px;
  align-items: center;
  font-size: 22px;
}
li {
  list-style-type: none;
}
.nav-button {
  padding: 7px 13px;
  transition: 0.2s ease;
  /* color:white; */
  color: var(--color-white);
  background-color: black;
  border-radius: 7px;
}
.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  font-weight: 500;
  /* color:black; */
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}
.nav-item a:hover {
  text-decoration: underline;
  width: 103px;
  height: 32px;
}
.nav-button a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  height: 62px;
  width: 134px;
}
.nav-button a:hover {
  text-decoration: underline;
}
.section-2{
    display:flex;
    /* position:relative; */
    width:1720px;
    height:852px;
    background-color:#F4F5F6;
    left:100px;
    top:227px;
    border-radius: 59px;
}
#img1{
  position: absolute;
  left: 182px;
  top: 295px;
  height:112.14px;
  width:464.74px;
  background-color: #FFFFFF;
}
#img2{
  position: absolute;
  left: 193px;
  top: 528px;
  height:117.55px;
  width:495.79px;
  background-color: #EBD96B;
}
#star1{
  position:absolute;
  left:849px;
  right:295px;
  width: 55.16px;
  height:50.67px;
  background-color:#E7E6E6;

}
#star1{
  position:absolute;
  left:849px;
  right:295px;
  width: 55.16px;
  height:50.67px;
  background-color:#E7E6E6;

