* {
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;

}
.header {
  padding: 46px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:1718.26px;
  height:62px ;
}
ul {
  display: flex;
  gap: 65px;
  align-items: center;
  font-size: 22px;
}
li {
  list-style-type: none;
}
.nav-button {
  padding: 7px 13px;
  transition: 0.2s ease;
  /* color:white; */
  color: var(--color-white);
  background-color: black;
  border-radius: 7px;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  font-weight: 500;
  /* color:black; */
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}
.nav-item a:hover {
  text-decoration: underline;
  width: 103px;
  height: 32px;
}
.nav-button a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  height: 62px;
  width: 134px;
}
.nav-button a:hover {
  text-decoration: underline;
}
.section-2{
    align-items: flex-start;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
    padding: 46px 100px;
    /* position:relative; */
    width:1720px;
    height:852px;
    background-color:#F4F5F6;
    /* background-color: blue; */
    left:100px;
    top:164px;
    border-radius: 59px;
  
    /* font-family: "Poppins",sans-serif;
    align-items: center;
    justify-content: center; */

}
#image{
  position: absolute;
  width: 871px;
  height: 784px;
  left: 868px;
  top: 232px;
  opacity: 100%;
}
.three{
  display: flex;
  width: 221px;
  background-color: #000000;
  height: 82px;
  font-size: 30px;
  font-family: "Poppins",sans-serif;
  line-height: auto;
  letter-spacing: -5%;
  color: white;
  align-items: center;
 padding: 34px;

}
/* .tilted-container{
  font-size: 96px;
  line-height: 120px;
  width: 474px;
  height: 473px;
  color: black;
  position: relative;
} */