* {
  --color-white: #ffffff;
  --color-black: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 46px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1718.26px;
  height: 62px;
}
ul {
  display: flex;
  gap: 65px;
  align-items: center;
  font-size: 22px;
}
li {
  list-style-type: none;
}
.nav-button {
  padding: 7px 13px;
  transition: 0.2s ease;
  /* color:white; */
  color: var(--color-white);
  background-color: black;
  border-radius: 7px;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  font-weight: 500;
  /* color:black; */
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}
.nav-item a:hover {
  text-decoration: underline;
  width: 103px;
  height: 32px;
}
.nav-button a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  height: 62px;
  width: 134px;
}
.nav-button a:hover {
  text-decoration: underline;
}
.section-2 {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 46px 100px;
  /* background-color:#F4F5F6; */
  background-color: plum;
  border-radius: 59px;
  margin-left: 40px;
  margin-right: 40px;
}
.sec2-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec-main {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.child3 {
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 500px;
    height: 120px;
    background: #ebd96b;
    z-index: -1;
    transform: rotate(-2deg);
  }
}
.child1,
.dd1 {
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 500px;
    height: 120px;
    background: white;
    z-index: -1;
    transform: rotate(-2deg);
  }
}
.child2,
.dd2 {
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
}
.child4 {
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
}
.ch1 {
  font-size: 32px;
  line-height: auto;
  color: black;
}
.ch2 a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 30px;
  height: 82px;
  width: 221px;
  background-color: #000000;
  padding: 18px;
  border-radius: 10px;
}
.sec2-2 {
  display: flex;
  width: 871px;
  height: 784px;
  left: 868px;
  top: 232px;
  opacity: 100%;
}
.section-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 186px;
  background-color: #ebd96b;
  margin-top: 40px;
}
/* newarrivals */
.main2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 40px;
  margin-left: 40px;
  width:max-content;
}
/* new arrivals text */
.m1 {
  font-family: "Poppins,sans-seref";
  font-size: 48px;
  width: 404px;
  height: 41px;
  color: black;
  line-height: 50px;
  margin-bottom: 80px;
}
/* new arrivals wrapper */
.m2 {
  display: flex;
  justify-items: space-between;
  width: max-content;
  height: 808px;
  gap: 90px;
}
/* new img */
.m1-1,
.m1-2,
.m-3 {
  width: 490px;
  height: 805px;
}
/* new img id */
#mm,
#mm1,
#mm2 {
  width: 490px;
  height: 704px;
  border-radius: 20px;
}
/* new text id */
#p1 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.m2 a {
  text-decoration: none;
}

.main3 {
  margin-top: 190px;
  display: flex;;
}

.dv1{
  width: 100%;
  height: auto;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.dv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
}

.dv2-1{
  padding: 130px 200px 155px 68px;
}
.dd3{
  font-family: "Poppins", sans-serif;
  font-size: 36.04px;
  line-height: 53.2px;
  color: #231300;
}
.dd4 {
  font-family: "Poppins", sans-serif;
  font-size: 36.04px;
  font-family: 400px;
  line-height: 53.2px;
  font-weight: bold;
  color: #000000;
}
.d4 a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 30px;
  width: max-content;
  background-color: #000000;
  padding: 18px;
  border-radius: 10px;
}
.dv2-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40.69px;
}
.main4{
  display:flex;
  flex-direction:column;
}
.main4-1{
  font-family: "Poppins",sans-serif;
  font-size: 48px;
  font-weight: 400px;
  line-height: 50px;
}