* {
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;

}
.header {
  padding: 46px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:1718.26px;
  height:62px ;
}
ul {
  display: flex;
  gap: 65px;
  align-items: center;
  font-size: 22px;
}
li {
  list-style-type: none;
}
.nav-button {
  padding: 7px 13px;
  transition: 0.2s ease;
  /* color:white; */
  color: var(--color-white);
  background-color: black;
  border-radius: 7px;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  font-weight: 500;
  /* color:black; */
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}
.nav-item a:hover {
  text-decoration: underline;
  width: 103px;
  height: 32px;
}
.nav-button a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  height: 62px;
  width: 134px;
}
.nav-button a:hover {
  text-decoration: underline;
}
.section-2{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    padding: 46px 100px;
    width:1720px;
    height:852px;
    /* background-color:#F4F5F6; */
    background-color: plum;
    left:100px;
    top:164px;
    border-radius: 59px;
  
}
.sec2-1{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}
.sec-main{
  display: flex;
  flex-direction: column;
  font-family: "Poppins",sans-serif;
  width: 100vw;
  height:100vh;
  overflow: hidden;
}

.child3{
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after{
    content:'';
    position: absolute;
    inset: 0;
    width:500px;
    height: 120px;
    background: #EBD96B;
    z-index: -1;
    transform: rotate(-2deg);
}
}
.child1{
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
  &::after{
    content:'';
    position: absolute;
    inset: 0;
    width:500px;
    height: 120px;
    background:white;
    z-index: -1;
    transform: rotate(-2deg);
}
}
.child2{
    font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
}
.child4{
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  color: black;
  position: relative;
  padding-left: 24px;
  z-index: 1;
}
git